* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    height: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 2%;
    background-color: rgba(187, 181, 181, 0.514); 
    position: sticky;
    top: 0; 
    z-index: 1000; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)
  }

.logo img {
    max-width: 100%;
    width: 15vw;           
    height: auto;          
}

nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    position: relative;
    font-family: Cabin;
}

nav ul li {
    position: relative;
}

nav ul li .dropdown {
    display: none; 
    position: absolute; 
    top: 100%;
    left: -40px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.627); 
    z-index: 1; 
    text-align: center;
}

nav ul li:hover .dropdown {
    display: block; /* para makita yung dropdown*/
}

nav ul li .dropdown ul {
    padding: 5px 0; 
    margin: 0; 
    display: flex;
    flex-direction: column;
}

nav ul li .dropdown ul li {
    white-space: nowrap;
}

nav ul li .dropdown ul li a {
    padding: 10px 20px; 
    display: block; 
    color: #000; 
    text-decoration: none; 
}

nav ul li .dropdown ul li a:hover {
    background-color: rgba(0, 0, 0, 0.1); 
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
    padding: 0.5rem 0.5rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #666;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
   
}
.current {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
}


.slideshow-container {
    position: relative;
    width: 90%; 
    height: 90%; 
    overflow: hidden;
    margin-top: 0;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.mySlides {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: transform 1.5s ease;
}

.mySlides.active {
    display: block; 
    transform: translateX(0); /* active slide to */
}

.mySlides.prev {
    display: block; /* para naman sa next slide*/
    transform: translateX(-100%); /* transition ng slide */
}

.mySlides.next {
    display: block; 
    transform: translateX(100%); /* Slide in from the right */
}

.mySlides img {
    width: 100%;
    height: 100%;
}


.text {
    position: absolute;
    bottom: 0%;
    left: 20%;

}

.indicators {
    position: absolute;
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    display: flex; 
    gap: 10px; 
}

.indicator {
    cursor: pointer;
    width: 10px; 
    height: 10px; 
    border-radius: 50%; 
    background-color: rgba(255, 255, 255, 0.258);
    display: inline-block;
    border: 2px solid rgba(0, 0, 0, 0.7);
}

.indicator.active {
    background-color: rgb(255, 255, 255); 
}

.indicator:hover {
    background-color: rgba(255, 255, 255, 0.9); 
}

/*About section*/

.about-section {
    position: relative;
    height: 100vh;
    background-image: url('img/about\ us.jpg');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .overlay {
    background-color: rgba(255, 255, 255, 0.8); 
    padding: 40px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .about-content h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
  }
  
  .about-content p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
  }
  

footer {
    background-color: white;
    padding: 20px 0;
    text-align: center;
  }

  .footer-container {
    max-width: 800px;
    margin: 0 auto;

  }

  .social-icons {
    margin-bottom: 10px;
  }

  .social-icons a {
    margin: 0;
    text-decoration: none;
  }

  .icon {
    width: 24px;
    height: 24px;
  }

  footer p {
    font-size: 14px;
    color: #333;
    margin: 0;
  }

  /*Contact US*/
  .container {
    background-color: #ffffffb3;
    margin: 15%;
    padding: 5%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888888;
    padding-bottom: 10%;
  }

  .bg-container {
    position: relative;
    height: 100vh;
    background-image: url('img/about\ us.jpg');
    background-size: contain;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  h1 {
    color: #333333;
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  p {
    color: #666666;
    font-size: 3vh;
    margin-bottom: 3%;
    text-align: center;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  .mail:hover {
    text-decoration: underline;
  }


@media (max-width: 1024px){

    .container {
        background-color: #ffffff;
        margin: 3%;
        padding: 10%;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #888888;
      }

    h1 {
        color: #333333;
        font-size: 36px;
        margin-bottom: 20px;
      }
      
      p {
        color: #666666;
        font-size: 3vh;
        margin-bottom: 3%;
      }
      
      a {
        color: #007bff;
        text-decoration: none;
      }
      
      .mail:hover {
        text-decoration: underline;
      }
    
    .slideshow-container {
        position: relative;
        width: 100%; 
        overflow: hidden;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;

    }

    .mySlides {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 1.5s ease;
    }

    .mySlides.active {
        display: block; 
        transform: translateX(0); /* active slide to */
    }

    .mySlides.prev {
        display: block; /* para naman sa next slide*/
        transform: translateX(-100%); /* transition ng slide */
    }

    .mySlides.next {
        display: block; 
        transform: translateX(100%); /* Slide in from the right */
    }

    .mySlides img {
        width: 100%;
        height: 80%;
    }

    .text {
        position: absolute;
        top: 30%;
        height: 30rem;
        width: 30rem;
        left: 18rem;
    }

    .indicators {
        position: absolute;
        bottom: 12%; 
        left: 50%; 
        transform: translateX(-50%); 
        display: flex; 
        gap: 10px; 
    }

    .indicator {
        cursor: pointer;
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
        background-color: rgba(255, 255, 255, 0.258);
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.7);
    }

    .indicator.active {
        background-color: rgb(255, 255, 255); 
    }

    .indicator:hover {
        background-color: rgba(255, 255, 255, 0.9); 
    }

    .slideshow-container{
    padding-top: 8vh;

    }

    nav ul li .dropdown {
        display: none; 
        position: absolute; 
        top: 100%;
        left: -40px;
        background-color: rgb(255, 255, 255); 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.627); 
        z-index: 1; 
        text-align: center;
    }
    nav ul li .dropdown.active {
        display: block; /* Show when active */
    }

    .dropdown {
        display: none;
    }
    
    .dropdown.show {
        display: block;
    }

    footer {
        text-align: center;
        margin-left:0;
        background-color: white;
        padding-top: 18%;
        border-top: 0;
    }
    
    .footer-container {
        display: flex; 
        flex-direction: column;
        align-items: center; 
       
    }
}



@media (max-width: 768px) {
    header {
        flex-direction: column; 
        align-items: center;  
    }

    .logo img {
        padding-top: 3vh;
        width: 40vw; 
        justify-content: center;
    }

    nav ul {
        padding-top: 2vh;
        flex-direction: row; 
        gap: 1rem; 
        list-style: none; 
        margin-top: 1rem; 
    }

    .text {
        font-size: 3vw; 
    }

        
    .slideshow-container {
        position: relative;
        width: 100%; 
        overflow: hidden;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;

    }

    .mySlides {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 1.5s ease;
    }

    .mySlides.active {
        display: block; 
        transform: translateX(0); /* active slide to */
    }

    .mySlides.prev {
        display: block; /* para naman sa next slide*/
        transform: translateX(-100%); /* transition ng slide */
    }

    .mySlides.next {
        display: block; 
        transform: translateX(100%); /* Slide in from the right */
    }

    .mySlides img {
        width: 100%;
        height: 40%;
    }

    .text {
        display: inline-flex;
        left: 145px;
        height: 30rem;
        width: 30rem;
        top: 13rem;
    }

    .indicators {
        position: absolute;
        bottom: 39%; 
        left: 50%; 
        transform: translateX(-50%); 
        display: flex; 
        gap: 10px; 
    }

    .indicator {
        cursor: pointer;
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
        background-color: rgba(255, 255, 255, 0.258);
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.7);
    }

    .indicator.active {
        background-color: rgb(255, 255, 255); 
    }

    .indicator:hover {
        background-color: rgba(255, 255, 255, 0.9); 
    }

    .slideshow-container{
    padding-top: 20vh;

    }

    nav ul li .dropdown {
        display: none; 
        position: absolute; 
        top: 100%;
        left: -40px;
        background-color: rgb(255, 255, 255); 
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.627); 
        z-index: 1; 
        text-align: center;
    }

    nav ul li .dropdown.active {
        display: block; /* Show when active */
    }

    .dropdown {
        display: none;
    }
    
    .dropdown.show {
        display: block;
    }

}

/*pang cellphone to */
@media (max-width: 480px) {
    
    header {
        flex-direction: column; 
        align-items: center;  
    }

    .logo img {
        padding-top: 3vh;
        width: 40vw; 
        justify-content: center;
    }

    nav ul {
        padding-top: 2vh;
        flex-direction: row; 
        gap: 1rem; 
        list-style: none; 
        margin-top: 1rem; 
    }

    .text {
        font-size: 3vw; 
    }

        
    .slideshow-container {
        position: relative;
        width: 100%; 
        overflow: hidden;
        margin-top: 0;
        justify-content: center;
        align-items: center;
        margin-left: 0;
        margin-right: 0;

    }

    .mySlides {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transition: transform 1.5s ease;
    }

    .mySlides.active {
        display: block; 
        transform: translateX(0); /* active slide to */
    }

    .mySlides.prev {
        display: block; /* para naman sa next slide*/
        transform: translateX(-100%); /* transition ng slide */
    }

    .mySlides.next {
        display: block; 
        transform: translateX(100%); /* Slide in from the right */
    }

    .mySlides img {
        width: 100%;
        height: 50%;
    }

    .text {
        display: inline-flex;
        top: 18%;
        height: 25rem;
        width: 25rem;
        left: 3rem;
    }

    .indicators {
        position: absolute;
        bottom: 28.5%; 
        left: 50%; 
        transform: translateX(-50%); 
        display: flex; 
        gap: 10px; 
    }

    .indicator {
        cursor: pointer;
        width: 10px; 
        height: 10px; 
        border-radius: 50%; 
        background-color: rgba(255, 255, 255, 0.258);
        display: inline-block;
        border: 2px solid rgba(0, 0, 0, 0.7);
    }

    .indicator.active {
        background-color: rgb(255, 255, 255); 
    }

    .indicator:hover {
        background-color: rgba(255, 255, 255, 0.9); 
    }

    .slideshow-container{
    padding-top: 20vh;

    }

    nav ul li .dropdown {
        display: none; 
        position: absolute; 
        top: 100%;
        left: -40px;
        background-color: rgb(255, 255, 255); 
        box-shadow: 0 2px 10px rgb(0, 0, 0); 
        z-index: 1; 
        text-align: center;
    }

    nav ul li .dropdown.active {
        display: block; /* Show when active */
    }

    .dropdown {
        display: none;
    }

    
    .dropdown.show {
        display: block;
    }

}